.meu-titulo {
    color: rgb(19, 19, 20);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 900;
    text-align: center;
    text-decoration: underline;   
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: justify;
    text-align: center;
    margin-top: 1em;
    max-width: 900px;
    margin: 0 auto; 
    padding: 20px; 
}

h5 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
     margin-top: 5em;
}

footer {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    position: static;
    bottom: 0;
}